body{
    background-color: rgb(221, 202, 238);
    width: 90%; /* Or fixed width like 960px */
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(129, 54, 183);
}

/* #title {
    border-bottom: 2px solid black;
} */

button{
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(105, 55, 125);
    border-radius: 5px;
    background-color: rgb(198, 165, 228);
}

button:hover{
    background-color: rgb(232, 218, 246);
}

#quote{
    color:rgb(80, 34, 171)
}